.container-products {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.titles-products {
  text-align: center;
  font-size: 25px;
  padding: 35px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.card-product {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(234, 234, 234);
  margin: 15px;
  height: 45vh;
  width: 25%;
  padding: 25px;
}

.card-product img {
  width: 90%;
  margin: 20px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.card-product h4 {
  text-align: center;
  width: 90%;
  font-size: 12px;
}
.price {
  font-weight: bold;
  color: rgb(85, 44, 1);
}

.card-product button {
  cursor: pointer;
  background: rgb(255, 72, 0);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}

.our-products {
  padding-top: 20px;
  color: rgb(182, 182, 182);
}

@media screen and (max-width: 460px) {
  .container-products {
    width: 100%;
  }

  .titles-products {
    font-size: 20px;
  }

  .products {
    width: 90%;
  }

  .card-product {
    margin: 5px;
    height: 40vh;
    width: 40vw;
  }

  .card-product h4 {
    text-align: center;
    width: 90%;
    font-size: 10px;
  }

  .card-product img {
    width: 100%;
  }

  .card-product button {
    font-size: 10px;
  }
}

@media screen and (min-width: 390px) and (max-width: 420px) {
  .container-products {
    width: 100%;
  }

  .products {
    width: 90%;
  }

  .card-product {
    margin: 5px;
    height: 30vh;
    width: 45%;
  }

  .card-product img {
    width: 90%;
  }

  .card-product button {
    font-size: 10px;
  }
}

@media screen and (min-width: 460px) and (max-width: 767px) {
  .container-products {
    width: 100%;
  }

  .products {
    width: 90%;
  }

  .card-product {
    margin: 10px;
    height: 40vh;
    width: 40%;
  }

  .card-product img {
    width: 60%;
  }

  .card-product button {
    font-size: 12px;
  }
}

@media screen and (min-width: 767px) and (max-width: 925px) {
  .card-product {
    margin: 10px;
    height: 40vh;
    width: 40%;
  }

  .products {
    width: 90%;
  }

  .card-product img {
    width: 80%;
  }


  .card-product button {
    font-size: 13px;
  }
}
